* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #0b0b0b;
    color: lightgray;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    padding: 24px;
}

.game {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.options {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 24px;
    flex: 1;
}

a.btn img {
    height: 200px;
    width: 200px;
    object-fit: scale-down;
    background-color: #202020;
    padding: 24px;
    border-radius: 24px;
    scale: 1;
    transition: all 0.3s ease;
}

a.btn img:hover {
    background-color: blue;
    scale: 1.025;
}

.score {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(15, 15, 15);
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 24px;
    gap: 12px;
    transition: all 0.3s ease;

}

.user {
    background-color: #000059;
    color: blue;
}

.pc {
    background-color: #250047;
    color: #8041c3;
    align-items: end;
}

.rounds {
    align-items: center;
}

a {
    transition: 0.5s ease;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 25%;
}

.rounds-left.disabled {
    display: none;
}

.card.disabled {
    opacity: 50%;
}

.btn-reply {
    background-color: #2b2b2b;
    padding: 8px;
    border-radius: 24px;
    rotate: 0;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.btn-reply:hover {
    background-color: #505050;
    transform: rotate(45deg);
}

a.btn-reply {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: white;
}

a.btn-reply img {
    width: 18px;
    height: 18px;
}

.btn-reply.disabled {
    display: none;
}

/*
   When the .disabled class is REMOVED, the browser checks here
   to find the "starting point" for the transition.
*/

@starting-style {
    .lottie-container:not(.disabled) {
        opacity: 0;
    }
}

.lottie-container {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 150px;
    width: auto;
    object-fit: scale-down;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transition-behavior: allow-discrete;
    /*margin-inline: auto;*/
    /*width: fit-content;*/
}

.lottie-container.disabled {
    display: none;
    opacity: 0;
}

.position-anchor {
    position: relative;
    display: flex;
    width: 100%;
    align-self: start;
    margin: auto;
}

.notification-bar {
    display: flex;
    position: absolute;
    top: -100px;
    z-index: 10;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    gap: 24px;
}

.center-notification {
    padding: 24px;
    background-color: rgb(15, 15, 15);
    border-radius: 48px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.notif-card {
    padding: 12px 24px;
    width: 140px;
    border-radius: 48px;
    flex-shrink: 0
}

.notif-card.win {
    background-color: #0d220d;
    color: #3dae30;
}

.notif-card.lose {
    background-color: #450000;
    color: #da2a2a;
}

.notif-card.draw {
    background-color: #222222;
    color: #636363;
}



